<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kodamat v2</title>
  <script src="script/vue.js"></script>
  <script src="script/plotly-latest.min.js"></script>
  <script src="script/vue-multiselect.js"></script>
  <link rel="stylesheet" type="text/css" href="script/vue-multiselect.min.css">
</head>
<body onload=init()>

  <div id="params">
    <multiselect
    v-model="param_list"
    :options="options"
    :multiple="true"
    placeholder="Välj näringsvärde"
    >
  </multiselect>
  </div>

<div id="app">
  <multiselect
  v-model="selectedFoodOptions"
  id="ajax"
  placeholder="Börja skriva"
  :options="foodOptions"
  :multiple="true"
  :searchable="true"
  :loading="isLoading"
  :internal-search="false"
  :clear-on-select="true"
  :close-on-select="true"
  :options-limit="100"
  :limit="15"
  :limit-text="limitText"
  @search-change="asyncFind"
  >
</multiselect>

<!-- drawChart skickas med false för att den inte ska lägga till citattecken -->
<button type="button" name="button" onclick='drawChart(multi.selectedFoodOptions,false)'>Rita graf</button>

<div id="plot" ></div>

<p>Om du vill komma tillbaka till det här urvalet kan du kopiera adressen i det här fältet:</p>
<input id="url" v-model="url" style="width: 600px">
<p>Ändra storlek på diagrammet: <input type="text" v-model="diagramWidth" size="6"> pixlar brett
    <input type="text" v-model="diagramHeight" size="6"> pixlar högt
    <button type="button" name="redraw" onclick='drawChart(multi.selectedFoodOptions,false)'>Rita om</button>

</p>
</div>

<script type="text/javascript">
var type="lin";
//Stuff är det man skriver in i autocompleten
var stuff = '';
//myArr är arrayen som kommer tillbaka i AJAX-anropet (Varför kryllparenteser??)
var myArr = {};
//foodValues är listan av alla näringsvärden
var foodValues = [];
//selectedFoodOptions är de livsmedel som är valda i multiselecten
var selectedFoodOptions=[];

function ajaxFindFood(stuff) {
  //returnList är listan av Livsmedelsnamn som populerar dropdownen och som man väljer mellan
  var returnList = [];
  //Kanske är denna inte byggt enligt asynkront mönster egentligen...
  var xmlhttp1 = new XMLHttpRequest();
  var url = "db2.php?name=" + stuff;
  xmlhttp1.onreadystatechange = function() {
    if(xmlhttp1.readyState == 4 && xmlhttp1.status == 200) {
      myArr = xmlhttp1.responseText; //variant JSON.parse(xmlhttp1.responseText);
      //php returnerar en osnygg lista med '***' som avgränsare
      myArr = myArr.split('***');
      //Ta bort sista elementet som är '***'
      myArr.splice(-1,1);
      //Varje del av resultatet json-parsas för sig
      for (var i = 0; i < myArr.length; i++) {
        //console.log(myArr[i]);
        myArr[i]=JSON.parse(myArr[i]);
        myArr[i].Livsmedelsnamn=addSingleQuotes(myArr[i].Livsmedelsnamn);
        //console.log(myArr[i]);
        returnList.push(myArr[i].Livsmedelsnamn);
        //console.log(returnList);
      };
    }
  }
  xmlhttp1.open("GET", url, true);
  xmlhttp1.send();
  console.log(returnList);
  return (returnList);
}

//När sidan laddats, populera multiselecten från url-parametrarna
//Därefter rita diagrammet
function init() {
  var urlSelection = getSelectionFromUrl();
  console.log(urlSelection);
  multi.selectedFoodOptions = urlSelection;
  //True för att den behöver lägga till citattecken
  drawChart(multi.selectedFoodOptions,true);
}

//Hämta livsmedel i urlen för att populera multiselect
function getSelectionFromUrl() {
  //location.search returnerar alla parametrar till url.
  //substring(1) utelämnar '?'
  var url_args = window.location.search.substring(1);
  console.log(window.location.search.substring(1));
  //url_args=decodeURI(url_args);
  console.log(url_args);
  var obj = {};

    if(url_args) {
        url_args = JSON.parse('{"' + decodeURI(url_args)
                .replace(/"/g, '\\"')
                .replace(/&/g, '","')
                .replace(/=/g, '":"') + '"}');
    }
    console.log(url_args);
    var keys = Object.keys(url_args);
    console.log(keys);
    url_args.food=url_args.food.slice(1, -1);
    //Skulle man inte kunna sätta multi.selectedFoodOptions direkt här i stället??
    var sel = url_args.food.split("','");
    console.log(url_args.width);
    if (url_args.width) {
      multi.diagramWidth=url_args.width;
      multi.diagramHeight=url_args.height
    }
    console.log(sel);
    return sel;
}




var multi=new Vue({
  components: {
    Multiselect: window.VueMultiselect.default
  },
  data: {
    diagramWidth: 600,
    diagramHeight: 400,
    url_args: '',
    //De livsmedel man har valt
    selectedFoodOptions: [],
    //Alla livsmedel man kan välja mellan
    foodOptions: [],
    isLoading: false
  },
  methods: {
    limitText (count) {
      return `och ${count} andra livsmedel`
    },
    asyncFind (query) {
      this.isLoading = true;
      this.foodOptions = ajaxFindFood(query);
      this.isLoading = false;
    }
  },
  computed: {
    url: function (){
      //Borde kunna göras med location.search?
      var address = window.location.href.split('?')[0];
      var foodItems = this.selectedFoodOptions;
      console.log(foodItems);
      var food_url = encodeURI(foodItems);
      var new_address = address + '?food=' + food_url + '&width=' + multi.diagramWidth + '&height=' + multi.diagramHeight;
      return new_address;
    },
  }
}).$mount('#app');

//Multiselecten med listan över alla näringsvärden
var parameters=new Vue({
  components: {
    Multiselect: window.VueMultiselect.default
  },
  data: {
    param_list: ['Kolhydrater_g','Fett_g','Protein_g','Fibrer_g','Vatten_g','Avfall_skal_etc'],
    options: ['Kolhydrater_g','Fett_g','Protein_g','Fibrer_g','Vatten_g','Avfall_skal_etc']
  }
}).$mount('#params')

//Tar en lista av objekt med alla näringsvärden
function sendToPlotly(foodValues) {
  var data=[];
  console.log(foodValues);
  //Ett trace per livsmedel
  for (var i = 0; i < foodValues.length; i++) {
    if (foodValues[i]) {

      trace=getData(foodValues[i]);
      data.push(trace);
    }
  }
  var layout = {
    autosize:false,
    width:multi.diagramWidth,
    height:multi.diagramHeight,
    title: 'Mat',
    xaxis: {
      //Källan borde göras som en annotation
      title: 'Näringsvärde, källa Livsmedelsverket'
    },
    yaxis: {
      title: 'gram per 100 g',
      type: type
    }};
    Plotly.newPlot('plot', data, layout);
  }

//Lägger till enkla citattecken till input
function addSingleQuotes(item) {
    item = "'" + item + "'";
    return item;
  }

  //Tar bort enkla citattecken från input
  function stripFirstLast(item) {
      item = item.slice(1, -1);
      return item;
    }

//Äkta AJAX...
function drawChart(foodList,addQuotes) {
  //Snygga till listan av Livsmedelsnamn så den kan skickas till databasen av php
  console.log(foodList);
  if (addQuotes) {
    for (var i = 0; i < foodList.length; i++) {
      foodList[i]=addSingleQuotes(foodList[i]);
    }
  }

  //foodList.forEach(addSingleQuotes);
  console.log(foodList);
    //foodList=foodList.join("','");
    //foodList=addSingleQuotes(foodList);
    //console.log(foodList);
    var xmlhttp2 = new XMLHttpRequest();
    foodList=encodeURI(foodList);
    console.log(foodList);
    var url = "food_values.php?foodStuff=" + foodList;
    xmlhttp2.onreadystatechange = function() {
      if(xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
        foodValues = xmlhttp2.responseText; //JSON.parse(xmlhttp2.responseText);
        console.log(foodValues);
        foodValues=foodValues.split('##');
        sendToPlotly(foodValues);
      }
    }
    xmlhttp2.open("GET", url, true);
    xmlhttp2.send();
  }

//Skapa data för de båda axlarna i Plotly-diagrammet
function getData(oneItem) {
    var params = parameters.param_list;
    var oneItem=JSON.parse(oneItem);
    var plot_data = {};
    plot_data.x = params;
    //Y-data är en array av värden
    var y=[];
    for (var i = 0; i < params.length; i++) {
      //För varje parameter i listan av näringsvärden, läs värdet och pusha till y
      y.push(oneItem[params[i]]);
    }
    plot_data.y = y;
    plot_data.type = "scatter";
    plot_data.name = oneItem['Livsmedelsnamn'];
    return(plot_data);
  }

  </script>

</body>
</html>
